  <div class="skill-section" ondragstart="return false;" ondrop="return false;">
    <div id="basic-skills-list" class="skill-type">
      <div class="inventory-header item">
        <div class="name">Skill</div>
        <div class="attr">Attr</div>
        <div class="rating">Rating</div>
        <div class="total">Total</div>
      </div>

      <ol class="items save-scroll">
        {{#each actor.data.skills as |skill sk|}}
        <li class="item">
          <div class="skill-name">
            <a class="name skill-select">{{localize skill.label}}</a>
          </div>

          <h3 class="row-label">{{skill.attribute}}</h3>
          <h3 class="row-value">0</h3>

          <div class="skill-advances input-field">
            <input data-skill="{{sk}}" type="text" data-dtype="rating" value="{{skill.rating}}" />
          </div>

          <a class="skill-total">{{skill.total}}</a>
        </li>

        {{/each}}
      </ol>
    </div>

    <div id="basic-skills-list" class="skill-type">
      <div class="inventory-header item">
        <div class="name">Skill</div>
        <div class="attr">Attr</div>
        <div class="rating">Rating</div>
        <div class="total">Total</div>
      </div>

      <ol class="items save-scroll">
        {{#each actor.data.skills as |skill sk|}}
        <li class="item">
          <div class="skill-name">
            <a class="name skill-select">{{localize skill.label}}</a>
          </div>

          <h3 class="row-label">{{skill.attribute}}</h3>
          <h3 class="row-value">0</h3>


          <div class="skill-advances input-field">
            <input data-skill="{{sk}}" type="text" data-dtype="rating" value="{{skill.rating}}" />
          </div>

          <a class="skill-total">{{skill.total}}</a>
        </li>

        {{/each}}
      </ol>
    </div>
  </div>
