<div class="item-list">
  <div class="item-header">
  <div class="item-name">{{localize "Talent"}}</div>
  {{#if isGM}}
  <div class="item-controls">
     {{else}}
     <div style = "visibility : hidden" class="item-controls">
        {{/if}}
        <a class="item-control item-create" title="{{localize 'SHEET.CreateItem'}}" data-type="talent"><i class="fas fa-plus"></i></a>
     </div>
  </div>
  <ol class = "items save-scroll">
     {{#each actor.talents as |item i|}}
     <li class="item" data-item-id="{{item._id}}">
        <div class="item-name item-dropdown">
           <div class="image" style="background-image: url({{item.img}})"></div>
           <a class="name">{{item.name}}</a>
        </div>
        {{#if ../owner}}
        <div class="item-controls">
           {{else}}
           <div class="item-controls" style = "visibility : hidden;">
              {{/if}}
              <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
              <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
              <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
              <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
           </div>
     </li>
     {{/each}}
  </ol>
</div>
  <div class="item-list">
    <div class="item-header">
    <div class="item-name">{{localize "Talent"}}</div>
    {{#if isGM}}
    <div class="item-controls">
       {{else}}
       <div style = "visibility : hidden" class="item-controls">
          {{/if}}
          <a class="item-control item-create" title="{{localize 'SHEET.CreateItem'}}" data-type="talent"><i class="fas fa-plus"></i></a>
       </div>
    </div>
    <ol class = "items save-scroll">
       {{#each actor.talents as |item i|}}
       <li class="item" data-item-id="{{item._id}}">
          <div class="item-name item-dropdown">
             <div class="image" style="background-image: url({{item.img}})"></div>
             <a class="name">{{item.name}}</a>
          </div>
          {{#if ../owner}}
          <div class="item-controls">
             {{else}}
             <div class="item-controls" style = "visibility : hidden;">
                {{/if}}
                <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
                <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
                <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
                <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
             </div>
       </li>
       {{/each}}
    </ol>
    </div>