  <div class="skill-section" ondragstart="return false;" ondrop="return false;">
    <div id="basic-skills-list" class="skill-type">
      <div class="inventory-header item">
        <div class="name">Skill</div>
        <div class="attr">Attr</div>
        <div class="rating">R</div>
        <div class="total">T</div>
      </div>

      <ol class="items save-scroll">
        {{#each actor.data.skills as |skill sk|}}

      		{{#if (isHalfSkills @index)}}
          <!-- hacky solution to allow for two columns of skills,
          planned to refactor later -->
      				  </ol>
      			</div>

      			<div id="basic-skills-list" class="skill-type">
      			  <div class="inventory-header item">
      				<div class="name">Skill</div>
      				<div class="attr">Attr</div>
      				<div class="rating">R</div>
      				<div class="total">T</div>
      			  </div>

      			  <ol class="items save-scroll">
      		{{/if}}
      			<li class="item" data-item-id={{@index}}>
      			  <div class="skill-name">
      				<a class="name skill-select">{{localize skill.label}}</a>
      			  </div>

      			  <h3 class="row-label">{{skill.attribute}}</h3>

      			  <div class="skill-advances input-field">
      				      <input data-item-id={{@index}} data-skill="{{sk}}" type="text" data-dtype="rating" value="{{skill.rating}}" />
      			  </div>

      			  <a class="skill-total">{{skill.total}}</a>
      			</li>
        {{/each}}
      </ol>
    </div>



  </div>
