<!-- EQUIPMENT -->
{{#each actor.inventory as |section sid|}}
{{#if section.show}}
<div class="inventory-header item {{section.label}}">
  {{#if section.toggle}}
  <span class="name">{{section.label}}</span>
  {{else}}
  <span class="name" id="currency-name">{{section.label}}</span>
  {{/if}}
  {{#if section.toggle}}
  <span class="item-toggle">{{section.toggleName}}</span>
  {{/if}}

  <a class="quantity aggregate" data-type="{{section.dataType}}">{{localize "SHEET.QtyAbbrev"}}.</a>

  <span class="weight">{{localize "SHEET.EncAbbrev"}}.</span>
  {{#if ../owner}}
  <div class="item-controls">
  {{else}}
  <div class="item-controls" style = "visibility : hidden;">
  {{/if}}
    <a class="item-control item-create" title="{{localize 'SHEET.CreateItem'}}" item-section="{{sid}}" data-type="{{section.dataType}}"><i
        class="fas fa-plus"></i></a>
  </div>
</div>

<ol class="inventory-list {{section.label}}">
  {{#each section.items as |item i|}}
  <li class="item" data-item-id="{{item._id}}">
  <div class="content">
    {{#if section.toggle}}
    <div class="item-name item-dropdown">
    {{else}}
    <div class="item-name non-toggle-name item-dropdown">
    {{/if}}
        <div class="image" style="background-image: url({{item.img}})"></div>
        <a class="name">{{item.name}}</a>
      </div>
      
      {{#if section.toggle}}
      {{#if item.toggleValue}}
      <a class="item-toggle"><i class="far fa-check-circle"></i></a>
      {{else}}
      <a class="item-toggle"><i class="far fa-circle"></i></a>
      {{/if}}
      {{/if}}

      <a class="quantity quantity-click">{{item.data.quantity.value}}</a>

      <span class="weight">{{item.encumbrance}}</span>
      {{#if ../../owner}}
      <div class="item-controls">
      {{else}}
      <div class="item-controls" style = "visibility : hidden;">
      {{/if}}
        <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
        <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
        <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
        <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
      </div>
  </div>
  </li>
  {{/each}}
</ol>
{{/if}}
{{/each}}
